div.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    color: white;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 28px;
    right: 8px;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.20), 0px 2px 7px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    margin-top: 12px;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.055px;
}

.dropdownContent a {
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: var(--main-blue);
    opacity: 1;
}

.show {
    display: block;
}

.meatballsMenu {
    background-color: white;
    border-radius: 2px;
}

.meatballsMenu:hover {
    background-color: var(--button-hover);
}