ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

li {
    color: var(--main-text);
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 145.455% */
    letter-spacing: 0.055px;
    margin-right: 16px;
}

li:hover {
    cursor: pointer;
}

li:focus-visible {
    outline: 2px solid var(--main-blue);
    outline-offset: 2px;
}

.selected {
    color: var(--main-text);
}

.notselected {
    color: var(--secondary-text);
}

.notselected:hover {
    color: var(--main-text);
}

.searchContainer {
    padding: 0 10px;
    border-bottom: 1px solid var(--light-border);
    
}

.searchForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    font-size: 12px;
}

.searchForm:focus-within {
    outline: 2px solid var(--main-bg-selected-strong);
    outline-offset: 2px;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 10px 0 10px 0;
}

.searchfield {
    border: unset;
    margin: 0;
}

.searchfield:focus {
    outline: none;
}

.icon {
    min-width: 14px;
    max-width: 14px;
    padding-left: 10px;
    color: var(--main-bg);
    border-radius: 6px 0 0 6px;
}

select {
    margin: 0;
    border: none;
    border-radius: 0 6px 6px 0;
    font-size: 12;
    text-align: left;
    max-width: 100px;
    border-left: 1px solid gray;
    margin: 10px;
    padding: 0 8px 0 4px ;
}

select:focus {
    outline: none;
}

div.results-list { 
    margin: 0;
    padding: 0;
}

div.results-container {
    display: none;
    padding: 10px;
    
}

div.result-item {
    border-radius: 6px;
    border-bottom: 1px solid var(--main-bg-hover);
    padding: 20px 10px 20px 10px;
}

div.result-item:hover {
    background-color: var(--main-bg-hover);
    cursor: pointer;
    border-radius: 6px;
}

div.title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--main-text);
}

div.author {
    font-size: 14px;
    line-height: 20px;
    color: var(--main-text);
    padding-top: 10px;
    opacity: 0.7;
}

div.results-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.selection-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

div.number-selected {
    font-size: 12px;
    margin-right: 10px;
}

div.search-result-section {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    color: var(--main-text);
}

div.plugin-message {
    display: none;
}

div.success {
    margin: 0 auto;
    background-color: var(--main-bg-success-tertiary);
    color: var(--main-text-success);
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: center;
}