body {
    background-color: var(--figma-color-bg);
    color: var(--figma-color-text);
    padding: 10px 10px 54px 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

ul { 
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

li {
    border-top: 1px solid rgb(197, 197, 197);
    padding: 20px 0 20px 0;
    color: var(--figma-color-text);
}

li:hover {
    background-color: var(--figma-color-bg-hover);
    cursor: pointer;
}

h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 20px;
    margin: 0px;
}

form {
    display: block !important;
}

div.login {
    display: none;
}

input {
    display: block;
    width: 100%;
    height: 44px;
    padding-left: 10px;
    margin: 10px 0 10px 0;
}

input.input__field {
    border: 1px solid rgba(0, 0, 0, .3);
}

label {
    font-size: 14px;
}

button {
    margin: 10px 0 10px 0;
    width: 100%;
}

button.large {
    font-size: 14px;
    padding: 10px 12px;
    height: 44px;
    min-width: 120px;
}

button.add {
    margin: 0;
    display: none;
    align-self: flex-end;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 60px;
    background-color: var(--figma-color-bg-selected-strong);
    color: var(--figma-color-text-onselected);
    border: 1px solid var(--figma-color-border-selected-strong);
}

div.results-container {
    display: none;
    margin: 10px 0 10px 0;
    position: relative;
    z-index: 0;
}

div.results-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.selection-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.number-selected {
    font-size: 12px;
    margin-right: 10px;
}

div.search-result-section {
    margin: 20px 0;
    color: var(--figma-color-text);
}

div.plugin-message {
    display: none;
}

div.success {
    margin: 0 auto;
    background-color: var(--figma-color-bg-success-tertiary);
    color: var(--figma-color-text-success);
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: center;
}