nav {
    display: flex;
    max-width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;  
    border-bottom: 1px solid var(--light-border);
    padding: 0 4px 0px 16px; 
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.navLink {
    color: var(--secondary-text);
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 16px; /* 145.455% */
    letter-spacing: 0.055px;
    margin-right: 16px;
    text-decoration: none;
}

.navLink:hover {
    color: var(--main-text);
    border-bottom: 1px solid var(--main-text);
}

.active {
    color: var(--main-text);
}

.active:hover {
    border-bottom: none;
}

.inactive {
    color: var(--secondary-text);
}